.navbar-nav li a {
  font-family: 'Comfortaa', cursive;
  font-size: 13px;
}
p {
  font-family: 'Space Mono';
}

header .container h1 {
  font-size: 50px;
}

.container .bg-grey-cont .row {
  padding-bottom: 10px;
  padding-top: 10px;
}

h4 {
  padding-top: 10px;
  font-family: "Montserrat";
}

form {

}

textarea {
  height: 120px;
  margin-bottom: 20px;
}

.col-centered {
  float: none;
  margin: auto;
}

input, textarea {
  font-family: 'Space Mono';
}

input[type=submit] {
  background: #c9880c;
  color: #fff;
  width: 100px;
  font-family: 'Space Mono';
  padding-bottom: 10px;
}

.social-icons li {
    display: inline;
}

.fab {
  padding-right: 20px;
  padding-bottom: 10px;
}

footer .container {
  text-align: center;
}

.fa-twitter {
  color: #0084b4;
}

.fa-linkedin {
    color: #0077B5;
}

.fa-github {
  color: #333;
}

::placeholder {
  padding-left: 8px;
}

#touch {
  text-align: center;
  padding-bottom: 30px;
}

.about-section {
  padding-top: 30px;
}

.row {
  text-align: center;
}

#cert img {
  float: left;
}

#horton  {
  width: 120px;
  height: 144px;
  margin: 0px 80px 0px 0px;
  /*float: left;*/
}

#oca {
  margin: 0px 20px 0px 0px;
  width: 180px;
  height: 108px;
  /*float: left; */
}

.hortonworks p {
  /*line-height: 3em;*/
  padding-top: 15px;
}

#cert {
  overflow: auto;
  width: 100%;
}

.img-teboho {
  border-radius: 50%;
  margin: 0px 30px 20px 0;
  float: left;
  width: 200px;
  height: 200px;
}

.bg-grey-cont {
  background-color: #f6f6f6;
  padding-top: 20px;
  padding-bottom: 50px;
}

div .container .first-paragraph {
  display: inline-block;
  word-wrap: break-word;
  hyphens: auto;
}

#bio {
  text-align: center;
  color: #c57945;
  padding-bottom: 30px;
}

.heading-text {
  text-align: center;
  color: #c57945;
  padding-bottom: 30px;
}

.col-md-3 {
  padding-bottom: 15px;
}


h1 {
  font-family: 'Montserrat';
}

html {
  font-family: 'Space Mono';
}

header {
  background: url(../img/soweto-towers.jpg);
}

.sect-cont {
  padding-bottom: 30px;
}

.certifications-section, .projects-section {
  padding-bottom: 30px;
}

header .container {
  height: 100%;
  position: relative;
}

.space-below {
  padding: 0 70px;
}

header .container  {
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: 'Montserrat';
  font-weight: bold;
  text-align: center;
}

header .container .intro-text {
  padding-top: 50px;
  font-family: 'Space Mono', monospace;
  text-align: center;

}

#logo {
  font-family: 'Varela Round';
}

#mphure {
  color: #db5e0a;
  /*font-family: 'Varela Round';*/
}
